:root{
    --main-color : #10cab7 ;
    --secondary-color:#2c4755;
    --section-padding :60px;
}
/* global rules  */
/* start components  */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font: 800;
    letter-spacing: -3px;
    margin: 0;

}
.special-heading + p{
    margin: -30px 0 0 ;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/* end components  */
* body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}
.parent{
    background-color: #eee; 
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
}
/* small screen */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px ){
    .container{
        width: 970px ;
    }
}
/* large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
.sidebar{
    margin: 10px;
    background-color: blue;
    display: inline-block;
    width: 10%;
    height: 100%;
}
/* end global rules  */

/* start header  */
.header {
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    
}
.header .links .icon span:first-child{
    width: 100%;

}

.header .links .icon span:nth-child(2){

    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child{
    width: 100%;
}

.header .links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;

}
.header .links:hover ul{
    display: block;

}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute ;
    right: 5px;
    top: -20px;

}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;

}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}


/* end header  */

/* start landing  */
.landing {
    background-image: url(../images/landing.jpeg);
    background-size: cover;
    height:calc(100vh - 64px);
    position: relative;
}

.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
    
}
.landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* end landing  */

/* start features */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;

}
.features .feat{
    padding: 20px;
    text-align: center;

}
.features .feat i{
    color: var(--main-color);
    
}

.features .feat h3{
    font-weight: 800;
    margin: 30px 0 ;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;

}
/* end features */

/* start services  */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content{
    display: grid ;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex ;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
}
}

.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3{
    margin: 0 0 20px ;
}
.services .services-content .srv .text p{
    color: #777;
    font-weight: 300px;
    line-height: 1.6;
}

.services .services-content .image{
    text-align: center;
    position: relative;
}
.services .services-content .image img{
    width: 280px;
}

.services .services-content .image::before{
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    position: absolute;
    right: 0;
    z-index: -1;
}
@media(max-width:1199px){
    .image-column {
        display: none;
    }
}
/* end services */
/* start portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}

.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img{
    max-width: 100%;

}
.portfolio .portfolio-content .card .info{
    padding: 20px ;
}
.portfolio .card .info h3{
    margin: 0;
}
.card .info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* end portfolio */

